/* Estilos gerais */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #4C0192, #17002C);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    color: #fff;
    text-align: center;
}

/* Estiliza o título */
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #CFFE00;
    margin-bottom: 20px;
}

/* Estiliza os parágrafos */
p {
    font-size: 10rem;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: inline-block;
    text-align: left;
}

/* Estiliza as listas */
ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

li {
    margin-bottom: 5px;
}

/* Estiliza os subtítulos */
h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #CFFE00;
    margin: 20px 0 10px;
    text-align: left;
}
